<html>
<head>
	<title>Group</title>
<style type="text/css">
	table{
		 border: 2px solid black;
		background-color: gray;
		background-size: 5px;
		border-spacing: 2px;
    	vertical-align: middle;
    	border-color: inherit;
	}
	header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

	</style>
</head>
<body>
	
	<div class="container">

   
  	<label><b>groupname</b></label>
    <input type="text" placeholder="Enter groupname" name="name" required>
     <select id="attributeNames" name="attributeNames" size="5" weight = "10" multiple="multiple">
    <option value="Apple"></option>
    <option value="Mango"></option>
    <option value="Orange"></option>
    <option value="Banana"></option>                                            
</select>
    
    <div class="clearfix">
      <button type="submit"value="signupbtn">Create</a></button>
    </div>
		</td>
		</tr>
		</tr>	 
			<tr>
				<td align = "left"><input type = "submit" value = "create"  /><td>
			</tr>
	</table>
</body>
</html>