<html>
<head>
	<title>Group</title>
<style type="text/css">
	table{
		 border: 2px solid black;
		background-color: gray;
		background-size: 5px;
		border-spacing: 2px;
    	vertical-align: middle;
    	border-color: inherit;
	}
	</style>
</head>
<body>
	<table align = "center">
		<tr>
			<td><h3>Create Group</h3></td>
		</tr>
		<tr>
			<td>Group name</td>
		</tr>
		<tr>
			<td><input type = "text" name = "Group name" required></td>
		</tr>
		<tr>
			<td>Add Member</td>
		</tr>
			<tr>
			<td>
		<select id="attributeNames" name="attributeNames" size="5" weight = "10" multiple="multiple">
    <option value="Apple"></option>
    <option value="Mango"></option>
    <option value="Orange"></option>
    <option value="Banana"></option>                                            
</select></td>
		</tr>
		</tr>	 
			<tr>
				<td align = "left"><input type = "submit" value = "create"  /><td>
			</tr>
	</table>
</body>
</html>