<html>
<head>
	<title>Post-It</title>
	<style type="text/css">
	table{
		 border: 1px solid black;
		background-color: gray;
		background-size: 5px;
		border-spacing: 2px;
    	vertical-align: middle;
    	border-color: inherit;
	}
	</style>
</head>
<body>

	<table align = "Right" bgcolor = "white"><tr><td><a href="create.html">Create Group</a></td>
		<td><a href="message.html">Send a Message</a></td>
		<td><a href="messageBoard.html">View your Message</a></td>
</tr>
	</table>
	<h3 align = "center">Post-It</h3>
	<form name = "info" method = "post">
		<table align = "center">
			<tr>
				<td>
					<h3><font color = "red">Login</font></h3> 
				</td>
			</tr>
			<div> 
			<tr>
				<td> username</td>
				<td><input type = "text" name = "Username" required/></td>
			</tr>
			<tr>
				<td> Password</td>
				 <td><input type = "password" name = "password" required/></td>
			</tr>	 
			<tr><td></td>
				<td align = "left"><input type = "submit" value = "signin" /><td>
			</tr>
		</form>
	        </div>
	        <form>
	         <div>
	        <tr>
				<td>
					<h3><font color = "red">New user</font></h3> 
				</td>
			</tr> 
			<tr>
				<td> username</td>
				<td><input type = "text" name = "Username" required/></td>
			</tr>
			<tr>
				<td> Password</td>
				 <td><input type = "password" name = "Password" required/></td>
			</tr>	
			<tr>
				<td> Email</td>
				 <td><input type = "text" name = "Email" required /></td>
			</tr>	  
			<tr><td></td>
				<td align = "left"><input type = "submit" value = "signup" /><td>
			</tr>
	        </div>	
	    </table>
	</form>
	
</body>
</html>