<html>
<head>
<title>Send message to any group</title>
</head>
<style type="text/css">
	table{
		 border: 2px solid black;
		background-color: gray;
		background-size: 5px;
		border-spacing: 2px;
    	vertical-align: middle;
    	border-color: inherit;
	}
	</style>
<body>
	<div>
   <table align = "center">
   	<tr>
		<td>
			<h3><font color = "red">MESSAGE</font></h3> 
			</td>
		</tr>
   	<tr>
   		<td>Message</td>
   		<td><textarea></textarea></td>
   		<tr>
   			<td>Select group</td>
   			<td>
		<select multiple = "multiple" id="sel">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select></td>
   		</tr>
   		<tr><td></td>
				<td align = "left"><input type = "submit" value = "Send Message" /><td>
			</tr>
   </table>
</div>
</body>
</html>