
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"/>
<title>Message Board</title>
</head>
<body>
  <!-- start navigation bar !-->
     <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Postit</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="messageBoard.html"> <i class="material-icons prefix">refresh</i></a></li>
        <li><a href="create.html">New Group</a></li>
        <li><a href="message.html">message</a></li>
      </ul>
    </div>
  </nav>
  <!-- end navigation bar !-->
  <!-- start page content !-->
  	<table>
      <tr>
  		  <td><img src="group.png" style="width:50px;height:50px;"/></td>
        <td><h5>Team bootcamp</h5>
        <p> Hey! guys, lets meet at the restaurant by 12pm today</p></td>
      </tr>
  

	    <tr>
  	    <td><img src="group.png" style="width:50px;height:50px;"/></td>
        <td><h5>NYSC</h5>
        <p> Payment of aso-ebi, UBN Acct num:00005050404</p></td>
      </tr>
  
      <tr>
  		  <td><img src="group.png" style="width:50px;height:50px;"/></td>
        <td><h5>Ushering dept</h5>
        <p> The dress code for next week sunday is white and black</p></td>
      </tr>
  
      <tr>
  		  <td><img src="group.png" style="width:50px;height:50px;"/></td>
        <td><h5>Team bootcamp</h5>
        <p> Hey! guys, where do we meet</p></td>
      </tr>
 
      <tr>
  		  <td><img src="group.png" style="width:50px;height:50px;"/></td>
        <td><h5>Team bootcamp</h5>
        <p> Hey! guys, where do we meet</p></td>
      </tr>
    </table>  
<!-- end page content !-->
</body>
</html>
