<!DOCTYPE html>
<html>
<head>
<style> 
.flex-container {
    width: 350px;
    height: 150px;
    text-align: left;
	position:fixed;
   top:10%;
   left:35%;
   right: 25%
  

}
h2 {
	
   text-align: center;
   font-family: Arial;
   font-size: 14;
   color: black;

}

.flex-item {
    background-color: white;
    width: 350px;
    height: 100px;
    margin: 5px;
   
}
p {
	font-family:courier;"
}

table {
	 padding: 2px 2px;
	 
}
h5 {
	font-size: 12;
	font-family: Arial;
	font: bold;
}
body {
	background:black;
}
</style>
</head>
<body>
<h2>Notifications</h2>
<div class="flex-container">
  <div class="flex-item">
  	<table ><tr>
  		<td><img src="group.png" style="width:50px;height:50px;"/></td>
  <td><h5>Team bootcamp</h5>
  <p> Hey! guys, where do we meet</p></td>
</tr>
</table>
  
</div>
  <div class="flex-item"> 
	<table ><tr>
  		<td><img src="group.png" style="width:50px;height:50px;"/></td>
  <td><h5>Team bootcamp</h5>
  <p> Hey! guys, where do we meet</p></td>
</tr>
</table>

  </div>
  <div class="flex-item">
<table ><tr>
  		<td><img src="group.png" style="width:50px;height:50px;"/></td>
  <td><h5>Team bootcamp</h5>
  <p> Hey! guys, where do we meet</p></td>
</tr>
</table>
  </div>
  <div class="flex-item">
<table ><tr>
  		<td><img src="group.png" style="width:50px;height:50px;"/></td>
  <td><h5>Team bootcamp</h5>
  <p> Hey! guys, where do we meet</p></td>
</tr>
</table>
  </div>
  <div class="flex-item">
<table ><tr>
  		<td><img src="group.png" style="width:50px;height:50px;"/></td>
  <td><h5>Team bootcamp</h5>
  <p> Hey! guys, where do we meet</p></td>

</tr>
</table>
  </div>    
</div>  
</div>


</body>
</html>
