<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"/>
  <TITLE>POST-IT/SIGNUP</TITLE>
</head>

<body>
  <header style = 'padding: 1em;color: white; background-color: black; text-align: center;'>
    <marquee>Welcome to POST-IT, An exciting application that allows friends and colleagues create groups for notifications, This way one person can post notifications to everyone by sending a message once.</marquee>
  </header>
  <!-- start page content !-->
  <div class="container">
      <form method="post" style ='position:fixed; top:20%; left:30%; width:50%;'>
        <div class="container">
          <h5 style = 'color: gray; font-family: arial, sans-serif; margin-top: 1px;'>Sign up</h5>
        </div>
              <div align = "center">  <img src="signup.png" style="width:100px;height:80px;" align = "center">
              </div>
                  <div class="container">
                    <label><b>Username</b></label>
                      <input type="text" placeholder="Enter username" name="name" required>
                  </div>
 
                  <div class="container">
                    <label><b>Email</b></label>
                      <input type="text" placeholder="Enter Email" name="email"  style = 'width: 100%;' required>
                  </div>

                  <div class="container">
                    <label><b>Password</b></label>
                      <input type="password" placeholder="Enter Password" name="password" required>
                  </div>

                  <div class="container">
                    <button type='submit' style = 'background-color: gray; color: white; border: none; width = 100px'>Sign up
                    </button>
                  </div>

                  <div class="container" style="background-color:#f1f1f1">
                    <p align = "left">Already registered ? <a href="index.html"> Sign in</a></p>      
                  </div>
              </form>
            </div>
            </div>
          </div>
          <!-- end page content !-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>